{$DOMAIN} {
	handle /api/* {
		reverse_proxy api:3000
	}

	handle /socket.io/* {
		reverse_proxy api:3000
	}

	handle /rtc* {
		reverse_proxy livekit:7880
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
